.App {
  text-align: center;
  background-image: url(./face.png);
  min-height: 100%; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px;
}

h1.text{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

div.links {
  background: black;
  opacity: .8;
  border-radius: 25px;
}  

div.links:hover {
  background: black;
  opacity: .95;
}  

div.links a:link, div.links a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px;
}

div.links a:hover, div.links a.active {
    background-color: darkslateblue;
    border-radius: 10px;
}